services:
  backend:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    container_name: linq-sandbox-backend
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      Cors__AllowedOrigins__0: http://localhost:5173
      Cors__AllowedOrigins__1: https://localhost:5173
    ports:
      - "5063:8080"

  frontend:
    restart: unless-stopped
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: linq-sandbox-frontend
    environment:
      NODE_ENV: production
    depends_on:
      - backend
    ports:
      - "5173:80"
